body{
    background-color: #1f2937;
}

.flex-container{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.header{
    display: flex;
    background-color: #1f2937;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
}

.header-left{
    flex: 1;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.header-right{
    flex: 1;
    display: flex;
    font-size: small;
    justify-content: center;
    align-items: center;
}

.l-one, .l-two, .l-three{
    flex: 1;
}

.body-1{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #1f2937;
    color: white;
}

.b1-left{
    flex: 1;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
}

.b1-right{
    flex: 1;
    align-content: center;
    padding-left: 25%;

}

.b1-header{
    font-weight: bold;
    font-size: xx-large;
}

.b1-body{
    font-size: smaller;
}

#b1-btn{
    background-color:#3882f6;
    color: white;
    border: 0px;
    border-radius: 5px;

    padding-left: 10px;
    padding-right: 10px;

    text-align: center;
    font-weight: bolder;

}

.body-2{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
}

.b2-header{
    font-weight: bold;
    font-size: xx-large;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.b2-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.b2-imgdesc{
    display: flex;
    gap: 50px;
    text-align: center;
    padding-bottom: 100px;
}

.img{
    border-color: #3882f6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.body-3{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-items: center;
    align-items: center;
}

.b3-quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width: 750px;
}

.b3-quoteby{
    color: black;
    font-weight: bold;
    font-size: medium;
    text-align: right;
    width: 750px;
}

.body-4{
    background-color: white;
}

.b4-box{
    display: flex;
    background-color: #3882f6;
    color:white;
    margin: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.b4-left{
    font-size: 18px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}

#b4-header{
    font-weight: bold;
}


#b4-btn{
    background-color:#3882f6;
    color: white;
    border-color: white;
    border-radius: 5px;
    border-style: solid;

    padding-left: 10px;
    padding-right: 10px;

    text-align: center;
    font-weight: bolder;
    font-size: 18px;
}

.footer{
    background-color: #1f2937;
}
.footer-txt{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #1f2937;
    color: white;
    justify-content: center;
    text-align: center;
    
}